{% extends 'base.html' %} {% block title %}New Feedback Form{% endblock %} 
{% block content %}
<h1 class="text-center">Feedback:</h1>

<form action="" method="POST">
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type
  !='hidden' %}
  <div class="form-group">
    {{field.label}} {{field(class_="form-control")}} {% if field.errors %} {%
    for error in field.errors %}
    <small class="text-danger">{{ error }}</small>
    {% endfor %} {% endif %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
